/*
 *Name: [Jacob Miles]
 *UnityID: [jwmiles3]
 *Date: [9/12/25]
 *Assignment: [Guided Lab 4]
 *Description: [Guided Lab assignment, about me webpage]
 */
 
p {
    Font-family: Times;
    font-size: 16px;
    color: #000000
}

.table-border {
    border: 1px solid #000000;
}

#photo-resize {
    max: width 250px;;
    max-height: 300px;
}
